
.navbar{
    position: fixed;
    width: 100vw;
    height: 90px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding: 0 10%;
    background-color: var(--black);
    color: var(--white);
    gap: 2.5rem;
}

.navbar-links{
    display: flex;
    list-style: none;
    gap: 2rem;
}
.navbar-logo{
    color: var(--white);
    text-decoration: none;
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    display: flex;
    align-items: center;
    gap: 0.8rem;
}
.navbar svg{
    fill: var(--white);
    font-size: 24px;
}
.navbar-links,li > a{
    color: var(--grey);
    text-decoration: none;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    text-transform: uppercase;

}

.navbar-links li a.activo {
    color: var(--white);
}

